.algolia-autocomplete.suggestions em {
    background-color: yellow;
    font-style: normal;
}

.aa-Autocomplete {
    margin-top: -8px;
}

.aa-Autocomplete label {
    margin-bottom: 0;
}

.algolia-results-tab {
    cursor: pointer;
}