.algolia-autocomplete.suggestions em {
    background-color: yellow;
    font-style: normal;
}

.aa-Autocomplete {
    margin-top: -8px;
}

.aa-Autocomplete label {
    margin-bottom: 0;
}

.algolia-results-tab {
    cursor: pointer;
}

.auc-Recommend-container {
    margin-top: 20px;
}

.auc-Recommend-item {
    margin-bottom: 20px;
    list-style-type: none;
    max-width: 100% !important;
    width: 267px !important;
}

.auc-Recommend-list {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: flex-start;
    padding-left: 0%;
}

#similarContents .auc-Recommend-list {
    display: block;
}

.ais-SearchBox-reset {
    position: absolute;
    border: none;
    top: 0.5625em;
    right: 0.5625em;
    padding: 0 1em;
}

.auc-Recommend-item .col-12 {
    padding: 0;
}

.auc-Recommend-title {
    font-size: 32px;
}