.algolia-autocomplete.suggestions em {
    background-color: yellow;
    font-style: normal;
}

.aa-Autocomplete {
    margin-top: -8px;
}

.aa-Autocomplete label {
    margin-bottom: 0;
}

.algolia-results-tab {
    cursor: pointer;
}

.ais-SearchBox-reset {
    position: absolute;
    border: none;
    top: 0.5625em;
    right: 0.5625em;
    padding: 0 1em;
}
