doc/
./*.js
jest.setup.js
bin/
workspace/
cartridges/modules
cartridges/algolia_sg_changes
cartridges/int_algolia_controllers/cartridge/static/default/js/algolia
cartridges/int_algolia_sfra/cartridge/static/default/js/lib
