.algolia-autocomplete {
    width: 100%;
}

.algolia-autocomplete .suggestions em {
    background-color: yellow;
    font-style: normal;
}
.d-md-none {
    display: none;
}

.aa-search-suggestion-wrapper {
    background: #fff;
}